p {
    color: black;
}
h1 {
    font-weight: bold;
}
body {
    background-image: url(AA8EDE24-02F7-4B06-BEF9-B0FE15A0EF3B.png);
}    

.center-text {
    text-align: center;
}

li{
    display: inline;
    padding: 10px;
}